.holder {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 700px;
}
.item {
    flex-basis: 200px;
    height: 75px;
    border: 2px solid wheat;
    background-color: seagreen;
}
.item:nth-child(1) {
    order: 1;
    flex-grow: 2;
}
.item:nth-child(5) {
    order: 1;
    flex-grow: 2;
}
.item:nth-child(3) {
    flex-grow: 1;
    order: -1;
}
.item:nth-child(2) {
    flex-grow: 1;
}
.item:nth-child(4) {
    flex-grow: 1;  
}